* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  height: inherit;

  border: thin solid black;
}

canvas {
  border: thin solid blue;
}
